NEXT_PUBLIC_FLASH_NETWORK=mainnet
NEXT_PUBLIC_BASE_RPC=https://mainnet.helius-rpc.com/?api-key=YOUR_DOMAIN_RESTRICTED_KEY
NEXT_PUBLIC_ER_RPC=https://flash.magicblock.xyz
# NEXT_PUBLIC_FLASH_API_BASE=https://flashapi.trade/v2
